.react-international-phone-input-container .react-international-phone-input {
    height: 50px;
    border-radius: var(--radius-lg);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    box-shadow: none;
    font-size: 1rem;
}
.react-international-phone-country-selector-button {
    height: 50px;
    border-radius: var(--radius-lg);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    box-shadow: none;
    font-size: 1rem;
}
.patient-form-container > div {
    margin-bottom: 20px;
}